<mat-toolbar color="primary" class="customheader">
  <mat-toolbar-row>
    <span>
      <img class="brandlogo" src="../assets/images/HyperMarketLogo.png" />
    </span>

    <span class="carticon">
      <mat-icon class="cart" color="light" routerLink="/cart" matBadge="15" matBadgeColor="accent">shopping_cart</mat-icon>
    </span>

    <span>
      <ul>
        <li><a routerLink="/home">All Products</a></li>
        <li><a>Ceramics</a></li>
        <li><a>Clothings</a></li>
        <li><a>Electronics</a></li>
        <li><a>Furnitures</a></li>
      </ul>
    </span>

    <span class="settingbtn">
      <button mat-button [matMenuTriggerFor]="menu"
        style="display: flex; align-items: center; justify-content: center;">
        <label>Manage</label>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button class="settingoption" mat-menu-item>
          <img src="../assets/icons/account_circle_FILL0_wght400_GRAD0_opsz24.svg" />
          <label>My Account</label>
        </button>
        <button class="settingoption" mat-menu-item routerLink="/manage-products">
          <img src="../assets/icons/inventory_FILL0_wght400_GRAD0_opsz24.svg" />
          <label>Manage Products</label>
        </button>
        <button class="settingoption" mat-menu-item>
          <img src="../assets/icons/logout_FILL0_wght400_GRAD0_opsz24.svg" />
          <label>Logout</label>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="customfooter">
  <mat-toolbar-row>
    <span>
      <p class="text-center text-gray-500 text-xs">
        &copy;2024 HyperMarket. All rights reserved.
      </p>
    </span>
  </mat-toolbar-row>
</mat-toolbar>